
.row, .list-group .list-group-item {
    background-color: #383838;
}

h1 {
    color: lavender;
    
}

.list-group-item:hover{
    color: #8d0a0a;
	border-radius: 10px 0px 10px 0px;
}

.topo {
    background-color: #383838;
}

.cadastrar {
    margin-left: 30px;
    margin-right: 10px;
}

